@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Roboto', sans-serif;
    background-position: center;
    background-size: cover;
    background-image: url('../Imagens/fundo.png');
    background-repeat: no-repeat;
}

:root{
    --maintxt: #ffffff;
    --navegatxt: #ffffff;
    --botaomain: #ffffff;
    --patroback: white;
    --contaback: white;
    --cronoback: white;
    --footertxt: white;
    --devtex: white;
    --blocohover: #14ffff;
    --menu: rgb(25, 22, 81);
}

.container{
    max-width: 1440px;
    padding: 0 5%;
    margin: 0 auto;
}

section,
footer{
    padding: 2.7rem 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo a img{
    width: 90%;
}

ul{
    display: flex;
    align-items: center;
}

ul li{
    margin: 0 35px;
    font-weight: 400;
}

ul li a{
    color: var(--navegatxt);
}

main .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
}

.main-text{
    width: 45%;
    color: var(--maintxt);
}

.main-textcrono,
.main-textpatro{
    width: 95%;
    color: var(--maintxt);
    text-align: center;
    margin-bottom: 20px;
}

.main-text h1,
.main-textcrono h1,
.main-textpatro h1{
    font-size: 4.5rem;
    font-weight: 800;
}

.main-text h2,
.main-textcrono h2,
.main-textpatro h2{
    font-size: 2rem;
}

.main-img{
    width: 50%;
    margin-bottom: 20px;
}

.main-img img{
    width: 100%;
}

.menu-icon{
    display: none;
    position: relative;
    z-index: 10;
}

.binscrever{
    padding: 10px 25px;
    background-color: var(--botaomain);
    width: 100%;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}
.patrocina{
    background: var(--patroback);
}

.patrocina .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.patrocina .card{
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.patrocina .card p{
    width: 100%;
}

.patrocina .card img{
    width: 90%;
}

.card p{
    font-size: 20px;
    margin-bottom: 20px;
}

.contato{
    background: var(--contaback);
}

.contato .container{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}

.contato .bloco{
    width: 22%;
    cursor: pointer;
    padding: 30px;
    border-radius: 15px;
    transition: 0.3s;
    text-align: center;
}

.contato .bloco:hover{
    box-shadow: 0px 10px 60px 8px var(--blocohover);
}

.contato .bloco img{
    width: 60px;
}

.contato .bloco .titulo{
    margin: 13px 0;
    font-weight: 600;
}

.cronograma{
    background: var(--cronoback);
}

.cronograma .dias{
    margin-bottom: 20px;
}

.cronograma .dias ul{
    display: contents;
    justify-content: space-between;
}

.cronograma .cardcrono{
    max-width: 100%;
    cursor: pointer;
    padding: 30px;
    border-radius: 15px;
    transition: 0.3s;
    text-align: center;
}

.cronograma .cardcrono:hover{
    box-shadow: 0px 10px 60px 8px var(--blocohover);
}

.patrocina .container .card .carousel{
    width: 100%;
    height: 500px;
    position: relative;
}

.patrocina .container .card .carousel .slides{
    width: 100%;
    height: 400px;
    position: absolute;
    object-fit: cover;
    display: grid;
    place-items: center;
}

.patrocina .container .card .carousel .slides .slide{
    position: absolute;
    display: none;
}

.patrocina .container .card .carousel .slides .slide a img{
    width: 100%;
    max-height: 400px;
}

.navigation{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.navigation label{
    width: 15px;
    height: 15px;
    background-color: #000000;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}

#slide1:checked ~ .slides .slide:nth-child(1),
#slide2:checked ~ .slides .slide:nth-child(2),
#slide3:checked ~ .slides .slide:nth-child(3),
#slide4:checked ~ .slides .slide:nth-child(4),
#slide5:checked ~ .slides .slide:nth-child(5){
    display: block;
}

.patrocinadores{
    background: var(--contaback);
}

.patrocinadores .container{
    justify-content: space-between;
    margin: 30px auto;
}

.patrocinadores .container .goldall .gold{
    border-radius: 30px;
    background-color: rgb(246, 195, 13);
    width: 100%;
    margin-bottom: 10px;
    font-size: 4rem;
    color: #ffffff;
    text-align: center;
}

.patrocinadores .container .goldall .goldcard{
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin-bottom: 20px;
}

.patrocinadores .container .goldall .goldcard .carda{
    width: 50%;
    align-content: center;
}

.patrocinadores .container .goldall .goldcard .carda a img{
    width: 100%;
}

.patrocinadores .container .goldall .goldcard .carda a p{
    width: 80%;
    display: flex;
    align-items: center;

}

.patrocinadores .container .silver{
    border-radius: 30px;
    background-color: rgb(115, 115, 115);
    width: 100%;
    margin-bottom: 10px;
    font-size: 3rem;
    color: #ffffff;
    text-align: center;
}

.patrocinadores .container .silverall .silvercard{
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin-bottom: 20px;
}

.patrocinadores .container .silverall .silvercard .carda{
    width: 40%;
    align-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.patrocinadores .container .silverall .silvercard .carda a img{
    width: 100%;
}

.patrocinadores .container .bronze{
    border-radius: 30px;
    background-color: #cd7f32;
    width: 100%;
    margin-bottom: 10px;
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
}

.patrocinadores .container .bronzeall .bronzecard{
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin-bottom: 20px;
}

.patrocinadores .container .bronzeall .bronzecard .carda{
    width: 40%;
    align-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.patrocinadores .container .bronzeall .bronzecard .carda img{
    width: 100%;
}

.organizacao{
    background: var(--contaback);
}

.organizacao .container{
    justify-content: space-between;
    margin: 30px auto;
}

.organizacao .area{
    margin-bottom: 20px;
    margin-top: 20px;
}

.organizacao .area h1{
    width: 95%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 800;
}

.organizacao .area h2{
    font-size: 1,5rem;
}

.organizacao h2 a:link{
    color: black;
}

.organizacao h2 a:visited{
    color: black;
}

.organizacao h2 a:hover{
    color: blue;
}

footer .container ul{
    width: 100%;
    text-align: center;
    display: flex;
    margin-right: 20px;
}

footer .container h1{
    margin-bottom: 20px;
    font-weight: 800;
}

footer .container h1,
footer .container h2{
    color: var(--footertxt);
}

footer .container img{
    margin-right: 10px;
    width: 30px;
}

footer .container li{
    margin: 10px 0;
}

.desenvolvedor{
    align-items: center;
    color: var(--devtex);
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding: 1rem 0;
    text-align: center;
}

.desenvolvedor p a:link{
    color: red;
}

.desenvolvedor p a:visited{
    color: var(--devtex);
}

.desenvolvedor p a:hover{
    color: red;
}

/* responsividade */
@media (max-width: 1360px){
    .cronograma .cardcrono{
        max-width: 100%;
    }

    .main-text h2,
    .main-textcrono h2,
    .main-textpatro h2{
    font-size: 1rem;
}
}

@media (max-width: 1180px){
    .menu-icon{
        display: block;
    }

    .ul{
        position: fixed;
        background: var(--menu);
        top: 0;
        width: 100%;
        height: 100%;
        left: 100%;
        transition: 0.3s;
        flex-direction: column;
        justify-content: center;
    }

    .ul li{
        font-weight: 400;
        margin: 20px;
    }

    .ul.ativo{
        left: 0;
    }

    main .container{
        flex-direction: column;
        padding-top: 20px;
    }

    main .container .main-img,
    main .container .main-text,
    main .container .main-textcrono,
    main .container .main-patro{
        width: 100%;
        text-align: center;
    }

    main .container .main-text h1,
    main .container .main-textcrono h1,
    main .container .main-patro h1{
        font-size: 4rem;
    }

    main .container .main-text div{
        justify-content: center;
    }

    .patrocina .container{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .patrocina .container .card{
        width: 100%;
    }

    .patrocina .container .card img{
        width: 80%;
    }

    .gold{
        font-size: 2.5rem;
    }

    .patrocinadores .container .goldall .goldcard{
        display: grid;
    }
    
    .patrocinadores .container .goldall .goldcard .carda{
        width: 100%;
    }
    
    .patrocinadores .container .silverall .silvercard{
        display: grid;
    }
    
    .patrocinadores .container .silverall .silvercard .carda{
        width: 100%;
    }
    
    .patrocinadores .container .bronzeall .bronzecard{
        display: grid;
    }
    
    .patrocinadores .container .bronzeall .bronzecard .carda{
        width: 100%;
    }

    .silver{
        font-size: 2rem;
    }
    
    .bronze{
        font-size: 1.5rem;
    }

    .contato .container{
        flex-direction: column;
    }
    
    .contato .bloco{
        width: 100%;
    }

    .organizacao .area h1{
        font-size: 3rem;
    }
}

@media (max-width: 500px){
    .card p{
        font-size: 15px;
    }

    .patrocinadores .container .goldall .gold{
        font-size: 2rem;
    }

    .patrocinadores .container .silverall .silver{
        font-size: 2rem;
    }

    .patrocinadores .container .bronzerall .bronze{
        font-size: 2rem;
    }

    main .container .main-text h1,
    main .container .main-textcrono h1,
    main .container .main-textpatro h1{
        font-size: 3rem;
    }

    .organizacao .area h1{
        font-size: 2rem;
    }
    main .container .main-text h1,
    main .container .main-textcrono h1,
    main .container .main-patro h1{
        font-size: 2rem;
    }
}
